In [1]:
import time

In [11]:
time.strftime("%Y-%m-%dT%H:%M:%SZ", time.localtime())

'2024-04-12T12:04:40Z'

In [12]:
import uuid

In [14]:
str(uuid.uuid4())

'27197265-854c-40fc-90aa-f2712b4b38dc'

In [1]:
import pandas as pd

In [3]:
myDict = {
    "key1": "value1"
}
myDict["key1"]

'value1'

In [10]:
railwayReservation = [
    {
        "RESERVATION_ID": 101,
        "RESERVATION_DATE": "2024-04-13T08:00:00",
        "TRAVEL_DATE": "2024-04-15T08:00:00",
        "SOURCE_STATION": "Station A",
        "DESTINATION_STATION": "Station B",
        "PAYMENT_METHOD": "Card",
        "TOTAL_FARE": 100,
        "BOOKING_STATUS": "Confirmed",
        "TRAIN_ID": "ABC123",
        "PASSENGER_ID": 101,
        "NAME": "Passenger 1",
        "AGE": 30,
        "GENDER": "Male",
        "COACH_NO": "A1",
        "SEAT_NO": "10",
        "CLASS_TYPE": "Sleeper"
    },
    {
        "RESERVATION_ID": 101,
        "RESERVATION_DATE": "2024-04-13T08:00:00",
        "TRAVEL_DATE": "2024-04-15T08:00:00",
        "SOURCE_STATION": "Station A",
        "DESTINATION_STATION": "Station B",
        "PAYMENT_METHOD": "Card",
        "TOTAL_FARE": 100,
        "BOOKING_STATUS": "Confirmed",
        "TRAIN_ID": "ABC123",
        "PASSENGER_ID": 103,
        "NAME": "Passenger 3",
        "AGE": 27,
        "GENDER": "Female",
        "COACH_NO": "A1",
        "SEAT_NO": "11",
        "CLASS_TYPE": "Sleeper"
    },
    {
        "RESERVATION_ID": 102,
        "RESERVATION_DATE": "2024-04-13T08:00:00",
        "TRAVEL_DATE": "2024-04-16T08:00:00",
        "SOURCE_STATION": "Station C",
        "DESTINATION_STATION": "Station D",
        "PAYMENT_METHOD": "Cash",
        "TOTAL_FARE": 150,
        "BOOKING_STATUS": "Confirmed",
        "TRAIN_ID": "DEF456",
        "PASSENGER_ID": 102,
        "NAME": "Passenger 2",
        "AGE": 25,
        "GENDER": "Female",
        "COACH_NO": "B1",
        "SEAT_NO": "5",
        "CLASS_TYPE": "AC"
    }
]

In [97]:
df = pd.DataFrame(railwayReservation)
df

,RESERVATION_ID,RESERVATION_DATE,TRAVEL_DATE,SOURCE_STATION,DESTINATION_STATION,PAYMENT_METHOD,TOTAL_FARE,BOOKING_STATUS,TRAIN_ID,PASSENGER_ID,NAME,AGE,GENDER,COACH_NO,SEAT_NO,CLASS_TYPE
0,101,2024-04-13T08:00:00,2024-04-15T08:00:00,Station A,Station B,Card,100,Confirmed,ABC123,101,Passenger 1,30,Male,A1,10,Sleeper
1,101,2024-04-13T08:00:00,2024-04-15T08:00:00,Station A,Station B,Card,100,Confirmed,ABC123,103,Passenger 3,27,Female,A1,11,Sleeper
2,102,2024-04-13T08:00:00,2024-04-16T08:00:00,Station C,Station D,Cash,150,Confirmed,DEF456,102,Passenger 2,25,Female,B1,5,AC

In [98]:
df_grouped = df.groupby(by='RESERVATION_ID')
df_grouped

In [99]:
result_df = df_grouped.agg(lambda x: list(x))
result_df

,RESERVATION_DATE,TRAVEL_DATE,SOURCE_STATION,DESTINATION_STATION,PAYMENT_METHOD,TOTAL_FARE,BOOKING_STATUS,TRAIN_ID,PASSENGER_ID,NAME,AGE,GENDER,COACH_NO,SEAT_NO,CLASS_TYPE
RESERVATION_ID,,,,,,,,,,,,,,,
101,"[2024-04-13T08:00:00, 2024-04-13T08:00:00]","[2024-04-15T08:00:00, 2024-04-15T08:00:00]","[Station A, Station A]","[Station B, Station B]","[Card, Card]","[100, 100]","[Confirmed, Confirmed]","[ABC123, ABC123]","[101, 103]","[Passenger 1, Passenger 3]","[30, 27]","[Male, Female]","[A1, A1]","[10, 11]","[Sleeper, Sleeper]"
102,[2024-04-13T08:00:00],[2024-04-16T08:00:00],[Station C],[Station D],[Cash],[150],[Confirmed],[DEF456],[102],[Passenger 2],[25],[Female],[B1],[5],[AC]

In [36]:
# result_df["RESERVATION_ID"] = result_df.index

In [50]:
for reservation in result_df:
    print(result_df.loc[101, reservation])

['2024-04-13T08:00:00', '2024-04-13T08:00:00']
['2024-04-15T08:00:00', '2024-04-15T08:00:00']
['Station A', 'Station A']
['Station B', 'Station B']
['Card', 'Card']
[100, 100]
['Confirmed', 'Confirmed']
['ABC123', 'ABC123']
[101, 103]
['Passenger 1', 'Passenger 3']
[30, 27]
['Male', 'Female']
['A1', 'A1']
['10', '11']
['Sleeper', 'Sleeper']
101

In [77]:
count = df_grouped.agg({'RESERVATION_ID': 'count'})
count.at[101, 'RESERVATION_ID']

2

In [101]:
response = list(map(lambda reservationId: {
    "reservationId": reservationId,
    "reservationDate": result_df.at[reservationId,"RESERVATION_DATE"][0],
    "travelDate": None if result_df.at[reservationId, 'TRAVEL_DATE'][0] is None else result_df.at[reservationId, 'TRAVEL_DATE'][0],
    "sourceStation": result_df.at[reservationId, 'SOURCE_STATION'][0],
    "destinationStation": result_df.at[reservationId, 'DESTINATION_STATION'][0],
    "paymentMethod": result_df.at[reservationId, 'PAYMENT_METHOD'][0],
    "totalFare": float(result_df.at[reservationId, 'TOTAL_FARE'][0]),
    "status": result_df.at[reservationId, 'BOOKING_STATUS'][0],
    "trainId": result_df.at[reservationId, 'TRAIN_ID'][0],
    "passengers": list(map(lambda passenger: {
        "passengerId": result_df.at[reservationId, 'PASSENGER_ID'][passenger],
        "name": result_df.at[reservationId, 'NAME'][passenger],
        "age": result_df.at[reservationId,"AGE"][passenger],
        "gender": result_df.at[reservationId,"GENDER"][passenger],
        "coachNumber": result_df.at[reservationId,"COACH_NO"][passenger],
        "seatNumber": result_df.at[reservationId,"SEAT_NO"][passenger],
        "classType": result_df.at[reservationId,"CLASS_TYPE"][passenger]
    }, range(len(result_df.at[reservationId, 'PASSENGER_ID']))))
},result_df.index))

response

[{'reservationId': 101,
  'reservationDate': '2024-04-13T08:00:00',
  'travelDate': '2024-04-15T08:00:00',
  'sourceStation': 'Station A',
  'destinationStation': 'Station B',
  'paymentMethod': 'Card',
  'totalFare': 100.0,
  'status': 'Confirmed',
  'trainId': 'ABC123',
  'passengers': [{'passengerId': 101,
    'name': 'Passenger 1',
    'age': 30,
    'gender': 'Male',
    'coachNumber': 'A1',
    'seatNumber': '10',
    'classType': 'Sleeper'},
   {'passengerId': 103,
    'name': 'Passenger 3',
    'age': 27,
    'gender': 'Female',
    'coachNumber': 'A1',
    'seatNumber': '11',
    'classType': 'Sleeper'}]},
 {'reservationId': 102,
  'reservationDate': '2024-04-13T08:00:00',
  'travelDate': '2024-04-16T08:00:00',
  'sourceStation': 'Station C',
  'destinationStation': 'Station D',
  'paymentMethod': 'Cash',
  'totalFare': 150.0,
  'status': 'Confirmed',
  'trainId': 'DEF456',
  'passengers': [{'passengerId': 102,
    'name': 'Passenger 2',
    'age': 25,
    'gender': 'Female',
    'coachNumber': 'B1',
    'seatNumber': '5',
    'classType': 'AC'}]}]

In [109]:
selectQuery = f"""
    SELECT rr.reservation_id, rr.reservation_date, rr.travel_date, rr.source_station, rr.destination_station,\
    rr.payment_method, rr.total_fare, rr.booking_status, rr.train_id, tpd.passenger_id, tpd.name, tpd.age,\
    tpd.gender, tpd.coach_no, tpd.seat_no, tpd.class_type\
    FROM RAILWAY_RESERVATIONS rr\
    INNER JOIN TICKET_PASSENGER_DETAILS tpd\
    ON rr.reservation_id=tpd.reservation_id\
    WHERE rr.reservation_id=101\
    """
selectQuery

'\n    SELECT rr.reservation_id, rr.reservation_date, rr.travel_date, rr.source_station, rr.destination_station,    rr.payment_method, rr.total_fare, rr.booking_status, rr.train_id, tpd.passenger_id, tpd.name, tpd.age,    tpd.gender, tpd.coach_no, tpd.seat_no, tpd.class_type    FROM RAILWAY_RESERVATIONS rr    INNER JOIN TICKET_PASSENGER_DETAILS tpd    ON rr.reservation_id=tpd.reservation_id    WHERE rr.reservation_id=101    '